<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>결재 작성</title>

    <link rel="stylesheet" href="/css/approval-write.css">
</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>

    <link rel="stylesheet" href="/css/approval-write.css">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>전자결재 작성</h3>
            </div>

            <div class="ap-area">
                <h5>기본 설정</h5>
                <div class="file-content">
                    <table class="file-select">
                        <tr>
                            <td class="t-select">결재 양식 종류</td>
                            <td class="cont">
                                <select>
                                    <option value="" selected>문서 선택</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                    <div class="ap-writer">
                        <table class="file-writer">
                            <tr>
                                <td class="t-select">기안자</td>
                                <td class="cont">지다희</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="manager-area">
                <div class="manager-select">
                    <h5>결재 담당자</h5><button class="man-btn">조직도 검색</button> <!--트리구조로 만들어야 함-->
                </div>

                <!-- ckeditor -->
                <div id="editor"></div>

            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>

<!-- ckeditor -->
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
</body>
</html>
