<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재</title>

</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    <input type="hidden" id="approvalId" th:value="${approval.approvalId}">
    <input type="hidden" id="employeeCode" th:value="${user.employeeCode}">
    <link rel="stylesheet" href="/css/approval-form.css">
    
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8">
                    <div class="card flex-fill">
                        <div class="card-header sign">
                            <div class="sign-container" th:each="con, stat : ${consensuses}">
                                <div class="sign-box">
                                    <table class="sign-table">
                                        <tr>
                                            <th>합의</th>
                                        </tr>
                                        <tr>
                                            <td th:text="${con.departmentName}"></td>
                                        </tr>
                                        <tr>
                                            <td th:text="${con.employeeName}"></td>
                                        </tr>
                                        <tr th:if="${con.status != '미결'}">
                                            <td class="stamp"><img src="/img/stamp-3.png" alt="합의 도장"></td>
                                        </tr>
                                        <tr th:if="${con.status == '미결'}">
                                            <td th:text="${con.status}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="sign-container" th:each="path : ${paths}">
                                <div class="sign-box">
                                    <table class="sign-table">
                                        <tr>
                                            <th>결재</th>
                                        </tr>
                                        <tr>
                                            <td th:text="${path.departmentName}"></td>
                                        </tr>
                                        <tr>
                                            <td th:text="${path.employeeName}"></td>
                                        </tr>
                                        <tr th:if="${path.status == '결재'}">
                                            <td class="stamp"><img src="/img/stamp-2.png" alt="승인 도장"></td>
                                        </tr>
                                        <tr th:if="${path.status == '미결' or path.status == '후열'}">
                                            <td th:text="${path.status}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-flex justify-content-center">
                            <div class="col-xl-8 col-12 mb-3">
                                <form id="form-group" class="w-100">
                                    <div class="form-floating flex-grow-1">
                                        <div class="editor-label">
                                            <label for="ap-editor" id="apLabel"></label>
                                            <textarea id="ap-editor" class="form-control-editor" aria-describedby="apLabel"></textarea>
                                            <input type="hidden" id="ap-content" name="content" th:value="${approval.content}">
                                        </div>
                                    </div>
                                    
                                    <div id="btn-group" class="mt-3 mb-3 w-100 d-flex justify-content-end">
                                        
                                        <div th:switch="${userStatus}">
                                            <div th:case="'APPROVE'">
                                                <button id="ap-submit-btn" type="button" class="btn">결재</button>
                                                <button id="ap-reject-btn" type="button" class="btn delete-btn">반려</button>
                                            </div>
                                            <div th:case="'CONSENSUS'">
                                                <div th:if="${consensusStatus == '미결'}">
                                                    <button id="cs-submit-btn" type="button" class="btn">합의</button>
                                                </div>
                                            </div>
                                           
                                            <div th:case="'NONE'">
                                                <!-- 버튼 없음 -->
                                            </div>
                                        </div>
                                   
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
<script src="/js/approval-detail.js"></script>
</body>
</html>
