<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어</title>

</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    
    <link rel="stylesheet" href="/css/main-approval.css">
    
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-xl-6 col-12 d-flex">
                    <div class="card w-100">
                        <div class="card-header text-center">
                            <h5 class="card-title">상신 목록</h5>
                        </div>
                        <div class="card-body">
                            <div id="toAp-list" class="col-xl-12 col-12 mb-3">
                                <table class="ap-tbl">
                                    <thead>
                                    <tr>
                                        <th class="col-number">번호</th>
                                        <th class="col-title">제목</th>
                                        <th class="col-author">기안자</th>
                                        <th class="col-date">기안일</th>
                                        <th class="col-status">상태</th>
                                    </tr>
                                    </thead>
                                    <tbody id="toAp-tbody">
                                    <tr th:each="approval, stat : ${mySubmissions}" th:data-approval-id="${approval.approvalId}">
                                        <td th:text="${stat.index + 1}"></td>
                                        <td th:text="${approval.fileCd}"></td>
                                        <td th:text="${approval.employeeName}"></td>
                                        <td th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${approval.status}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="pagination-mini">
                                <div id="pagination-toAp"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12 d-flex">
                    <div class="card w-100">
                        <div class="card-header text-center">
                            <h5 class="card-title">결재 목록</h5>
                        </div>
                        <div class="card-body">
                            <div id="myAp-list" class="col-xl-12 col-12 mb-3">
                                <table class="ap-tbl">
                                    <thead>
                                    <tr>
                                        <th class="col-number">번호</th>
                                        <th class="col-title">제목</th>
                                        <th class="col-author">기안자</th>
                                        <th class="col-date">기안일</th>
                                        <th class="col-status">상태</th>
                                    </tr>
                                    </thead>
                                    <tbody id="myAp-tbody">
                                    <tr th:each="approval, stat : ${myPendingApprovals}" th:data-approval-id="${approval.approvalId}">
                                        <td th:text="${stat.index + 1}"></td>
                                        <td th:text="${approval.fileCd}"></td>
                                        <td th:text="${approval.employeeName}"></td>
                                        <td th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${approval.status}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="pagination-mini">
                                    <div id="pagination-myAp"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-12 d-flex">
                    <div class="card w-100">
                        <div class="card-header text-center">
                            <h5 class="card-title">합의 목록</h5>
                        </div>
                        <div class="card-body">
                            <div id="cuAp-list" class="col-xl-12 col-12 mb-3">
                                <table class="ap-tbl">
                                    <thead>
                                    <tr>
                                        <th class="col-number">번호</th>
                                        <th class="col-title">제목</th>
                                        <th class="col-author">기안자</th>
                                        <th class="col-date">기안일</th>
                                        <th class="col-status">상태</th>
                                    </tr>
                                    </thead>
                                    <tbody id="cuAp-tbody">
                                    <tr th:each="approval, stat : ${myReceivedApprovals}" th:data-approval-id="${approval.approvalId}">
                                        <td th:text="${stat.index + 1}"></td>
                                        <td th:text="${approval.fileCd}"></td>
                                        <td th:text="${approval.employeeName}"></td>
                                        <td th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${approval.status}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="pagination-mini">
                                <div id="pagination-cuAp"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12 d-flex">
                    <div class="card w-100">
                        <div class="card-header text-center">
                            <h5 class="card-title">결재 완료</h5>
                        </div>
                        <div class="card-body">
                            <div id="coAp-list" class="col-xl-12 col-12 mb-3">
                                <table class="ap-tbl">
                                    <thead>
                                    <tr>
                                        <th class="col-number">번호</th>
                                        <th class="col-title">제목</th>
                                        <th class="col-author">기안자</th>
                                        <th class="col-date">기안일</th>
                                        <th class="col-status">상태</th>
                                    </tr>
                                    </thead>
                                    <tbody id="coAp-tbody">
                                    <tr th:each="approval, stat : ${myCompletedApprovals}" th:data-approval-id="${approval.approvalId}">
                                        <td th:text="${stat.index + 1}"></td>
                                        <td th:text="${approval.fileCd}"></td>
                                        <td th:text="${approval.employeeName}"></td>
                                        <td th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${approval.status}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="pagination-mini">
                                <div id="pagination-coAp"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="/ap/write" id="floating-btn">
    <img src="/img/todo.png" alt="작성 버튼">
</a>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/js/main-approval.js"></script>
</body>
</html>

