<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어</title>

</head>
<body>

<div class="main-wrapper">
    
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    
    <link rel="stylesheet" href="/css/main-approval.css">
    
    
    <div class="page-wrapper">
        <div class="content container-fluid">
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="card flex-fill">
                        <div class="card-header text-center">
                            <h5 class="card-title">결재 상신</h5>
                        </div>
                        <div class="card-body">
                            <div id="toAp-list" class="col-xl-11 col-12 mb-3">
                                <table class="ap-tbl">
                                    
                                    <thead>
                                    <tr>
                                        <th class="col-number">번호</th>
                                        <th class="col-title">제목</th>
                                        <th class="col-author">기안자</th>
                                        <th class="col-date">기안일</th>
                                        <th class="col-status">상태</th>
                                    </tr>
                                    </thead>
                                    
                                    <tbody id="toAp-tbody">
                                    
                                    <tr>
                                        <td class="col-number">1</td>
                                        <td class="col-title">테스트</td>
                                        <td class="col-author">홍길동</td>
                                        <td class="col-date">2021-09-01</td>
                                        <td class="col-status">미결</td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    <a href="/ap/write" class="btn">작성</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="card flex-fill">
                        <div class="card-header text-center">
                            <h5 class="card-title">결재 목록</h5>
                        </div>
                        <div class="card-body">
                            <div id="myAp-list" class="col-xl-11 col-12 mb-3">
                                <table class="ap-tbl">
                                    
                                    <thead>
                                    <tr>
                                        <th class="col-number">번호</th>
                                        <th class="col-title">제목</th>
                                        <th class="col-author">기안자</th>
                                        <th class="col-date">기안일</th>
                                        <th class="col-status">상태</th>
                                    </tr>
                                    </thead>
                                    
                                    <tbody id="myAp-tbody">
                                    
                                    <tr>
                                        <td class="col-number">1</td>
                                        <td class="col-title">테스트</td>
                                        <td class="col-author">홍길동</td>
                                        <td class="col-date">2021-09-01</td>
                                        <td class="col-status">미결</td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        </div>
    </div>
    
</div>


<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/js/main-approval.js"></script>
</body>
</html>
