<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    <link rel="stylesheet" href="/css/todo.css">
    
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="col-xl-12 mobile-h">
                
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="d-flex justify-content-center align-items-center">
                            <h5 class="card-title">todo</h5>
                        </div>
                    </div>
                    
                    <div class="col-xl-12 mobile-h d-flex justify-content-center align-items-center">
                        
                        
                        <div class="card-body col-xl-12 mobile-h d-flex justify-content-center align-items-center">
                            
                            <div class="col-xl-5">
                                <h4>list</h4>
                                
                                <div class="list-group">
                                    <ul id="todolist" class="list-group">
                                    
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-xl-5">
                                <form id="form-group">
                                    <input type="hidden" name="employeeCode" th:value="${session.user.employeeCode}" />
                                    <div class="input-group">
                                        <input id="todo" class="form-control" type="text" name="content" placeholder="할 일을 입력하세요.">
                                        <button id="todo_btn" type="submit" class="btn btn-info">Enter</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/js/todo.js"></script>
</body>
</html>
