<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어</title>
    <meta name="departmentId" th:content="${user.departmentId}">
</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>

    <link rel="stylesheet" href="/css/main-notice.css">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>공지사항</h3>
            </div>

            <div class="card-body-inner">
                <table class="ap-tbl">
                    <thead>
                    <tr>
                        <th class="col-number">번호</th>
                        <th class="col-title">제목</th>
                        <th class="col-author">작성자</th>
                        <th class="col-date">작성일</th>
                    </tr>
                    </thead>
                    <tbody id="notice_cont">
                    <tr th:each="notice, stat : ${notices}" th:data-notice-id="${notice.noticeId}">
                        <td th:text="${stat.index + 1}"></td>
                        <td><a th:href="@{/nt/detail(id=${notice.noticeId})}" th:text="${notice.title}"></a></td>
                        <td th:text="${notice.departmentName}"></td>
                        <td th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
                <div id="pagination-notice"></div>
                <div th:if="${user.departmentId == 3}">
                    <a href="/nt/writepage" class="cocoBtn">공지사항 작성</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/js/notice.js"></script>
</body>
</html>
