<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main-notice.css">
</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4"> <!-- 공지사항을 가운데 정렬 -->
                <h3>공지사항</h3>
            </div>



            <div class="card-body-inner">
                <div class="breadcrumb-gray text-center">
                    <h2>공지사항</h2>
                </div>
                <table class="gong">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th style="width: 30%;">제목</th>
                        <th style="width: 40%;">내용</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody id="notice_cont">
                    <tr th:each="notice : ${notices}">

                        <td th:text="${notice.notice_id}">ID</td>
                        <td th:text="${notice.title}">Title</td>
                        <td th:text="${notice.content}">Content</td>
                        <td th:text="${notice.created_at}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>


            <!-- <div th:if="${user != null && user.departmentId == 3}"> -->
                <!-- 여기에 사용자 부서 ID가 3일 때 렌더링될 HTML 요소를 작성하세요 -->
            <a href="notice-write" class="cocoBtn">공지사항 작성</a>
          <!--   </div> -->


            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card-body-inner">
                        <div class="breadcrumb-gray text-center">
                            <h4>이번 달 주요 일정</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>일정</th>
                                    <th>날짜</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>웹사이트 리뉴얼 프로젝트 회의</td>
                                    <td>6월 10일</td>
                                </tr>
                                <tr>
                                    <td>마케팅 전략 발표</td>
                                    <td>6월 15일</td>
                                </tr>
                                <tr>
                                    <td>제품 론칭 이벤트</td>
                                    <td>6월 25일</td>
                                </tr>
                                <tr>
                                    <td>클라이언트 회의</td>
                                    <td>6월 30일</td>
                                </tr>
                                <!-- 추가적인 주요 일정 정보 -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/js/notice.js"></script>


</body>
</html>


