<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항 작성</title>
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
</head>
<body>

<div class="write_title">

    <form action="#" method="POST">
        <div class="titleCen">
            <h2>공지사항 작성</h2>
            <hr>
        </div>

        <label class="header" for="title-input">제목</label>
        <input type="text" id="title-input" placeholder="제목을 입력하세요" name="title">

        <!-- CKEditor 영역 -->
        <div id="editor-container">
            <textarea name="content" id="editor"></textarea>
        </div>

        <!-- 등록 버튼 -->
        <form action="/submit-notice" method="POST">
            <input type="submit" value="등록">
        </form>

        <!-- 목록 버튼 -->
        <a href="/notice" class="button">목록</a>

    </form>

</div>

<script>
    CKEDITOR.replace('editor', {
        enterMode: CKEDITOR.ENTER_BR, // 줄 바꿈 시 <br> 태그 사용
        shiftEnterMode: CKEDITOR.ENTER_P // Shift + Enter 시 <p> 태그 사용하지 않음
    });

</script>

</body>
</html>
