<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공지사항 상세 보기</title>
    <link rel="stylesheet" href="/css/notice-detail.css">
    <script th:src="@{/js/notice-detail.js}"></script>
</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>공지사항 상세 보기</h3>
            </div>

            <div class="card-body-inner">
                <div class="notice-detail">
                    <div class="notice-header">
                        <h4 th:text="${notice.title}"></h4>
                        <p class="created-at" th:text="${#temporals.format(notice.createdAt)}"></p>
                    </div>
                    <div class="notice-content" th:utext="${notice.content}"></div>

                    <div class="button-group">
                        <a th:href="@{/nt/update(id=${notice.noticeId})}" class="btn btn-primary">수정</a>
                        <button class="btn btn-danger" th:onclick="'deleteNotice(' + ${notice.noticeId} + ')'" >삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{include/footer/scriptfooter :: footer}"></div>
    <!-- 실패 메시지를 표시할 요소 -->
    <div id="error-message" class="alert alert-danger" style="display: none;"></div>
</div>

<script src="/js/notice-detail.js"></script>

</body>
</html>
