<!DOCTYPE html>
<html lang="ko" th:fragment="footer">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/ProgressBar.js"></script>
<script src="/js/attendance.js"></script>
<script src="/plugins/popper.min.js"></script>
<script src="/plugins/bootstrap.min.js"></script>
<script src="/plugins/feather.min.js"></script>
<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/login.js"></script>
<script src="/js/side.js"></script>
</html>
