<html lang="ko" th:fragment="side" >

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-contents">
            <div id="sidebar-menu" class="sidebar-menu">
                <div class="mobile-show">
                    <div class="offcanvas-menu">
                        <div class="user-info align-center bg-theme text-center">
                            <span class="lnr lnr-cross" id="mobile_btn_close">X</span>
                        </div>
                    </div>
                </div>

                <ul>
                    <li>
                        <a href="/"><img src="/img/home.png" alt="sidebar_img"><span>홈</span></a>
                    </li>
                    <li>
                        <a href="/notice"><img src="/img/notice.png" alt="sidebar_img"><span>공지사항</span></a>
                    </li>
                    <li>
                        <a id="workPage" onclick="navigateToWorkPage()"><img src="/img/work.png" alt="sidebar_img"><span>업무</span></a>
                    </li>
                    <li>
                        <a href="/approval"><img src="/img/approval.png" alt="sidebar_img"><span>전자결재</span></a>
                    </li>
                    <li>
                        <a href="/sc/schedule"><img src="/img/calendar.png" alt="sidebar_img"><span>일정관리</span></a>
                    </li>
                    <li>
                        <a href="/file/fmain"><img src="/img/file.png" alt="sidebar_img"><span>문서함</span></a>
                    </li>
                    <li class="has-submenu">
                        <a href="#"><img src="/img/mypage.png" alt="sidebar_img"><span>내 정보</span></a>
                        
                        <ul class="dropdown-menu side">
                            <li><a th:href="${session.user != null} ? '/mypage/myinfo' :'/no'">근태</a></li>
                            <li><a th:href="${session.user != null} ? '/mypage/holiday' :'/no'">휴가 | 연차</a></li>
                            <li><a href="#">결재</a></li>
                            <li><a th:href="${session.user != null} ? '/mypage/todo' :'/no'">to do</a></li>
                        </ul>
                    </li>
                </ul>
                
                <ul class="logout">
                    <li>
                        <a href="#" class="logout-link" onclick="submitLogout(); return false;">
                            <img src="/img/logout.png" alt="sidebar_img">
                            <span>로그아웃</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>
