<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어</title>


</head>

<body>

<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    <link rel="stylesheet" href="/css/main-mypage.css">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>직원 등록</h3>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-xl-5 d-flex mobile-h">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="d-flex justify-content-center align-items-center">
                                <h5 class="card-title">직원 등록</h5>
                            </div>
                        </div>
                        <div class="card-body">

                            <form id="registerForm">

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="EmployeeCode">사원번호</label>
                                            <input type="text" class="form-control-sm" id="EmployeeCode" name="employee_code">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">이름</label>
                                            <input type="text" class="form-control-sm" id="name" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="birth">생년월일</label>
                                            <input type="date" class="form-control-sm" id="birth" name="birth_date">
                                        </div>

                                        <div class="form-group">
                                            <label for="address">주소</label>
                                            <div class="member-address">
                                                <input type="hidden" class="form-control-sm" id="address_postal" name="address_postal">
                                                <input type="button" onclick="sample6_execDaumPostcode()" value="주소 찾기">
                                                <input type="text" id="address" name="address" placeholder="주소"><br>
                                                <input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소">
                                                <input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목">
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <label for="department">부서</label>
                                                <select class="form-control-sm" id="department" name="department_id" required>
                                                    <option value="">선택하세요</option>
                                                </select>
                                                <div class="form-text" id="departmentHelpBlock">부서를 선택하세요.</div>
                                            </div>
                                            <div class="form-group">
                                                <label for="position">직급</label>
                                                <select class="form-control-sm" id="position" name="ps_cd" required>
                                                    <option value="">선택하세요</option>
                                                </select>
                                                <div class="form-text" id="positionHelpBlock">직급을 선택하세요.</div>
                                            </div>
                                            <div class="form-group">
                                                <label for="userName">아이디</label>
                                                <input type="text" class="form-control-sm" id="userName" name="username" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">비밀번호</label>
                                                <input type="password" class="form-control-sm" id="password" name="password" required>
                                            </div>

                                        <div class="row d-flex justify-content-center align-items-center">
                                            <div class="form-btn">
                                                <button id="regi-btn" type="submit" class="btn">등록</button>
                                                <button id="back-btn" type="button" th:attr="onclick='history.back()'" class="btn">취소</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/hr-register.js"></script>

</body>
</html>
