<!DOCTYPE html>
<html lang="ko">
<head>
    
    <title>그룹웨어</title>

</head>
<body>


<div class="main-wrapper">
    
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    <link rel="stylesheet" href="/css/main-hr.css">
    
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>업무 > 경영지원실 > 인사관리팀</h3>
            </div>
            
            <div class="row mb-4">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card board1 fill1 ">
                        <div class="card-body">
                            <div class="card_widget_header">
                                임직원 수
                                <p class="widget" th:text="${eCount}"></p>
                            </div>
                            <div class="card_member_img"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card board1 fill2 ">
                        <div class="card-body">
                            <div class="card_widget_header">
                                새로운 요청
                                <p class="widget" th:text="${apCount}"></p>
                            </div>
                            <div class="card_notify_img">
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card board1 fill3 ">
                        <div class="card-body">
                            <div class="card_widget_header">
                                휴가자
                                <p class="widget">3</p>
                            
                            </div>
                            <div class="card_leave_img">
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card board1 fill4 ">
                        <div class="card-body">
                            <div class="card_widget_header">
                                현재 근무중
                                <p class="widget">27</p>
                            
                            </div>
                            <div class="card_working_img">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                
                
                <div class="col-xl-6 d-flex mobile-h">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">인원현황</h5>
                                <a href="/registerPage" class="btn btn-primary">등록</a>
                            </div>
                        </div>
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table custom-table no-footer" id="e_list">
                                    <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>부서</th>
                                        <th>직급</th>
                                    </tr>
                                    </thead>
                                    <tbody id="e_list_table">
                                    <tr th:each ="list : ${eList}">
                                        <td>
                                            <div class="table-img">
                                                <label th:text ="${list.name}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <label class="action_label2" th:text="${list.departmentName}">대표</label>
                                        </td>
                                        <td>
                                            <label th:text="${list.psNm}">CEO</label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- 페이징 -->
                                <div id="pagination-hr"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-xl-6 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">최근 출/퇴근</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body p-0">
                                <div class="leave-set">
                                <span class="leave-inactive">
                                
                                </span>
                                    <label>Mon, 16 Dec 2021</label>
                                </div>
                                
                                <div class="leave-viewall">
                                    <a href="#">모두 보기 <img src="/img/r-arrow.png" class="ml-2" alt="arrow" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                
                
                <div class="col-xl-6 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <div class="card-header ">
                            <h4 class="card-title">새로운 요청</h4>
                            <button class="go-approval" value="결재하기"></button>
                        </div>
                        <div class="card-body pb-0">
                            
                            <div class="team-list">
                                <div class="team-view">
                                    <div class="team-img">
                                        <img src="" alt="avatar" />
                                    </div>
                                    <div class="team-content">
                                        <label>김유신</label>
                                        <span>인사관리</span>
                                    </div>
                                    <div class="request">
                                        휴가신청_김유신
                                    </div>
                                </div>
                            
                            </div>
                            
                            <div class="team-list">
                                <div class="team-view">
                                    <div class="team-img">
                                        <img src="" alt="avatar" />
                                    </div>
                                    <div class="team-content">
                                        <label>김철수</label>
                                        <span>개발 2팀</span>
                                    </div>
                                    <div class="request">
                                        조퇴 신청_김철수 사유 - 병원
                                    </div>
                                </div>
                            
                            </div>
                            
                            <div class="team-list">
                                <div class="team-view">
                                    <div class="team-img">
                                        <img src="" alt="avatar" />
                                    </div>
                                    <div class="team-content">
                                        <label>박영희</label>
                                        <span>개발 2팀</span>
                                    </div>
                                    <div class="request">
                                        오전 반차 신청_박영희
                                    </div>
                                </div>
                            
                            </div>
                            
                            <div class="team-list">
                                <div class="team-view">
                                    <div class="team-img">
                                        <img src="" alt="avatar" />
                                    </div>
                                    <div class="team-content">
                                        <label>이민수</label>
                                        <span>개발 1팀</span>
                                    </div>
                                    <div class="request">
                                        휴가신청_이민수
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-xl-6 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <div class="card-header">
                            <div class="">
                                <h4 class="card-title">부서별 팀원</h4>
                            </div>
                        </div>
                        <div class="card-body dash-activity">
                            <div class="activity_scroll">
                                
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="employee-head">
                                                        <h2>인사관리팀</h2>
                                                        <ul>
                                                            <li><a class="edit_employee" data-toggle="modal" data-target="#edit"><i data-feather="edit"></i></a></li>
                                                            <li><a class="edit_delete" data-toggle="modal" data-target="#delete"><i data-feather="trash-2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="employee-content">
                                                        <div class="employee-image">
                                                            <div class="avatar-group">
                                                                <div class="avatar avatar-xs group_img group_header">
                                                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-14.jpg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="btn-addmember" data-toggle="modal" data-target="#addteam">팀원 추가</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="employee-head">
                                                        <h2>재무관리팀</h2>
                                                        <ul>
                                                            <li><a class="edit_employee" data-toggle="modal" data-target="#edit"><i data-feather="edit"></i></a></li>
                                                            <li><a class="edit_delete" data-toggle="modal" data-target="#delete"><i data-feather="trash-2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="employee-content">
                                                        <div class="employee-image">
                                                            <div class="avatar-group">
                                                                <div class="avatar avatar-xs group_img group_header">
                                                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-14.jpg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="btn-addmember" data-toggle="modal" data-target="#addteam">팀원 추가</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="employee-head">
                                                        <h2>개발 1팀</h2>
                                                        <ul>
                                                            <li><a class="edit_employee" data-toggle="modal" data-target="#edit"><i data-feather="edit"></i></a></li>
                                                            <li><a class="edit_delete" data-toggle="modal" data-target="#delete"><i data-feather="trash-2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="employee-content">
                                                        <div class="employee-image">
                                                            <div class="avatar-group">
                                                                <div class="avatar avatar-xs group_img group_header">
                                                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-14.jpg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="btn-addmember" data-toggle="modal" data-target="#addteam">팀원 추가</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="employee-head">
                                                        <h2>개발 2팀</h2>
                                                        <ul>
                                                            <li><a class="edit_employee" data-toggle="modal" data-target="#edit"><i data-feather="edit"></i></a></li>
                                                            <li><a class="edit_delete" data-toggle="modal" data-target="#delete"><i data-feather="trash-2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="employee-content">
                                                        <div class="employee-image">
                                                            <div class="avatar-group">
                                                                <div class="avatar avatar-xs group_img group_header">
                                                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-14.jpg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="btn-addmember" data-toggle="modal" data-target="#addteam">팀원 추가</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
            
            
            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/js/main-hr.js"></script>
</body>
</html>
