<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>그룹웨어</title>
</head>
<body>

<div class="main-wrapper">
  <div th:replace="~{include/header/main-header :: header}"></div>
  <div th:replace="~{include/side/main-side :: side}"></div>
  <link rel="stylesheet" href="/css/main-ms.css">
  <link rel="stylesheet" href="/css/ceo.css">

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-name mb-4">
        <h3>CEO</h3>
      </div>

      <div class="row mb-4">
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card board1 fill1">
            <div class="card-body">
              <div class="card_widget_header">
                임직원 수
                <p class="widget" th:text="${empList.size()}"></p>
              </div>
              <div class="card_member_img"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card board1 fill2">
            <div class="card-body">
              <div class="card_widget_header">
                미결재 요청
                <p class="widget" th:text="${myPendingApprovals.size()}"></p>

              </div>
              <div class="card_notify_img"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card board1 fill3">
            <div class="card-body">
              <div class="card_widget_header">
                휴가자
                <p class="widget" th:text="${#lists.size(empList.?[status == '휴가'])}"></p>
              </div>
              <div class="card_leave_img"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card board1 fill4">
            <div class="card-body">
              <div class="card_widget_header">
                현재 근무중
                <p class="widget" th:text="${#lists.size(empList.?[status == '근무중'])}"></p>
              </div>
              <div class="card_working_img"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-12 d-flex">
          <div class="card w-100">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">결재</h5>
                <div class="moreInfo"><a href="/ap/amain"><button class="cocoBtn">More</button></a></div>
              </div>
            </div>
            <div class="card-body pb-0">
              <!-- 결재 내용 추가 -->
              <div id="myAp-list" class="col-xl-12 col-12 mb-3">
                <table class="ap-tbl">
                  <thead>
                  <tr>
                    <th class="col-number">번호</th>
                    <th class="col-title">제목</th>
                    <th class="col-author">기안자</th>
                    <th class="col-date">기안일</th>
                    <th class="col-status">상태</th>
                  </tr>
                  </thead>
                  <tbody id="myAp-tbody">
                  <tr th:each="approval, stat : ${myPendingApprovals}" data-approval-id="${approval.approvalId}">
                    <td th:text="${stat.index + 1}"></td>
                    <td th:text="${approval.fileCd}"></td>
                    <td th:text="${approval.employeeName}"></td>
                    <td th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${approval.status}"></td>
                  </tr>
                  </tbody>
                </table>
                <div class="pagination-mini">
                <div id="pagination-myAp"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-12 d-flex">
          <div class="card w-100">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">인사</h5>
                <div class="moreInfo"><a href="/hr"><button class="cocoBtn">More</button></a></div>
              </div>
            </div>
            <div class="card-body pb-0">
              <!-- 인사 내용 추가 -->
              <div id="tbl-list" class="col-xl-12 col-12 mb-3">
                <table class="table table-hover" id="allEmployeeTable">
                  <thead>
                  <tr>
                    <th>이름</th>
                    <th>부서</th>
                    <th>직급</th>
                    <th>상태</th>
                  </tr>
                  </thead>
                  <tbody id="allEmployeeTableBody">
                  <tr th:each="employee : ${empList}">
                    <td th:text="${employee.employeeName}"></td>
                    <td th:text="${employee.departmentName}"></td>
                    <td th:text="${employee.positionName}"></td>
                    <td>
                    <span th:class="${employee.status == '근무중' ? 'badge bg-success text-center' : 'badge bg-danger text-center'}"
                          th:text="${employee.status}"></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!-- 페이징 -->
                <div class="pagination-mini">
                <div id="pagination-hr"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-12 d-flex">
          <div class="card w-100">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
              <h4 class="card-title">재무</h4>
              <div class="moreInfo"><a href="/ms"><button class="cocoBtn">More</button></a></div>
              </div>
            </div>
            <div class="card-body pb-0">

              <div id="approvalPagination-container"></div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-12 d-flex">
          <div class="card w-100">
            <div class="card-header">
              <h4 class="card-title">개발</h4>
            </div>
            <div class="card-body pb-0">

              <table class="ap-tbl">
                <thead>
                <tr>
                  <th>번호</th>
                  <th>프로젝트명</th>
                  <th>상태</th>
                </tr>
                </thead>
                <tbody id="project_table_body">
                <tr th:each="pr, stat : ${projects}">
                  <td th:text="${stat.index + 1}"></td>
                  <td th:text="${pr.projectName}"></td>
                  <td th:text="${pr.status}"></td>
                </tr>
                </tbody>
              </table>

              <div class="pagination-mini">
              <div id="pagination-pro"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/js/ceo.js"></script>
</body>
</html>
