@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

#btn-group {
    gap: 1rem;
}

.btn {
    width: 60px;
    height: 40px;
    background-color: #525252;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: transparent;
    padding: 5px;
    color: #000;
    border: 1px solid #525252;
    border-radius: 5px;
    transition: all 0.2s;
}


.row {
    width: 100%;
    height: 100%;
}

.card {
    height: 100%;
}

.col-xl-5 .col-12 .mb-3,
.form-group, .editor-label{
    height: 100%;
}


.card .card-header h5.card-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
}

.jstree-icon.employee-icon {
    background: url('https://fonts.gstatic.com/s/i/materialicons/person_outline/v6/24px.svg') center center no-repeat;
    background-size: contain;
}

.jstree-icon.department-icon {
    background: url('https://fonts.gstatic.com/s/i/materialicons/domain/v6/24px.svg') center center no-repeat;
    background-size: contain;
}

.jstree-node.department-node > .jstree-anchor {
    font-size: 1rem;
    font-weight: bold;
}

.jstree-node.employee-node > .jstree-anchor {
    font-size: 0.8rem;
}


#jstree-div,
#ap-div,
#cc-div {
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}


.table > tbody > tr > th {
    width: 9%;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    text-align: center;
}

p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 2rem;
}


.ck.ck-editor__editable_inline>:first-child,
.ck.ck-editor__editable_inline>:last-child {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}

.ck-content[dir=ltr] .table th {
    text-align: center;
    width: 20%;
}

.ck-content[dir=ltr] .table tr.ap-text {
    height: 300px;
}

#receiver {
    display: flex;
    align-items: center;
}

.remove-btn {
    font-size: 1.25rem;
    margin-left: 10px;
    cursor: pointer;
    color: red;
}

.plus-btn {
    font-size: 1.25rem;
    margin-left: 10px;
    cursor: pointer;
    color: blue;
}

.append {
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;
}

.jstree-div h4,
.ap-div h4,
.cc-div h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
}


/*        details          */

.table.ref {
    margin-left: 1rem;
    margin-right: 1rem;
}

.col-r1, .col-r2 {
    text-align: end;
}



/*        sign          */

.card-header.sign {
    display: flex;
    justify-content: flex-end;
}


.sign-container {
    display: flex;
    width: 150px;
    height: 220px;
    padding: 5px;
}

.sign-box {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;

}

.sign-box th {
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px;
    border-bottom: 1px solid black;
}

.sign-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.sign-table .date {
    border-top: 1px solid black;
}

.date {
    font-size: 10px;
    text-align: center;
}

.stamp {
    color: red;
    font-weight: bold;
}

.stamp img {
    width: 50px;
    height: 50px;
}


.sign-table tbody tr:nth-of-type(4) {
    border: 1px solid black;
    height: 38%;
}

.delete-btn {
    width: 60px;
    height: 40px;
    background-color: #e80c0c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: transparent;
    padding: 5px;
    color: #e80c0c;
    border: 1px solid #e80c0c;
    border-radius: 5px;
    transition: all 0.2s;
}
