/* 결재 페이징 */
#pagination-myAp{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 인사 잘한다 페이징 */
#pagination-hr{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* 개발 페이징 */
#pagination-pro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



/* 더보기 코코버튼 ^-^ */
.cocoBtn {

    padding: 8px 8px;
    width: 100px; /* 버튼의 너비를 조정 */
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: #455560;
    color: #ffffff;

}

/* 버튼 기본 배경색과 텍스트 색상 */
.cocoBtn-default {
    background-color: #6b6b6b;
    color: #000000;
}

/* 버튼 호버 효과 */
.cocoBtn:hover {
    background-color: #d9d9d9;
    color: #737373;
}

/* 버튼 그림자 효과 */
.cocoBtn-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* 버튼 커서 효과 */
.cocoBtn:hover {
    transform: translateY(-1px);
}

/* 버튼 활성 상태 스타일 */
.cocoBtn:active {
    transform: translateY(2px);
}


