@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

.form-control.me-2{
    width: 200px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}


.employee-search{
    display: flex;
    justify-content: end;
    margin-right: 100px;
}

.btn-outline-success {
    border: 1px solid #879096;
    color: #2c3038;
}

.btn-outline-success:hover {
    background-color: #879096;
    border: 1px solid #879096;
    color: white;
}
.everything{
    align-items: center;
}

/* 테이블 */
.table-container {
    margin: 20px;
    position: relative;
    align-items: center;

    min-height: 600px;
    max-height: 600px;

}

table.type11 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 60px 10px;
    width: 90%;
}

table.type11 th {
    width: 155px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #879096;
}

table.type11 td {
    width: 155px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: white;
}

/* 테이블 수정, 삭제 버튼 */
.modi-btn, .dele-btn{
    width: 70px;
    color: #fff;
    padding: 2px;
    border: 1px solid #fff;
}

.modi-btn{
    margin-right: 7px;
    background-color: #3A3B3F;
}

.modi-btn:hover{
    border: 1px solid #3A3B3F;
    background-color: #fff;
    color: #3A3B3F;
}

.dele-btn{
    background-color: #ff3833;
}

.dele-btn:hover{
    border: 1px solid #ff3833;
    background-color: #fff;
    color: #ff3833;
}

/* 등록 버튼 */
.btn-area{
    display: flex;
    justify-content: flex-end;
    margin-right: 240px;
    margin-bottom: 30px;
}

.btn.btn-primary{
    width: 100px;
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 7px;
}

/* 상태 변경 버튼 */
.st-btn{
    width: 70px;
    border: none;
    background-color: #e2e2e1;
}

.st-select{
    width: 70px;
    text-align: center;
}

/* 페이징 */
.pagination-mini {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 80px;
}
/* 모달 */
.modal-body {
    display: grid;
    position: relative;
    align-items: center;
    padding: 25px;
    justify-content: center;
}

.modal-body label{
    margin: 0;
}

.form-control-sm{
    border: 1px solid #5a6268;
    margin-bottom: 7px;
}

#enableNewEmployeeCode{
    margin-right: 5px;
}
