.row .mt-6 .top .content{
    display: flex;
    grid-template-columns:1fr 1fr;
}
.col-md-10 {
    flex-grow: 1;
}


#paginationContainer {
    position: relative;
    bottom: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.member {
    overflow: hidden;
}

.card .projects{
    min-height: 470px;
    grid-template-rows: auto 1fr auto;
}
.card-footer {
    position:  absolute;
    bottom: 0;
    background-color: #fff; /* 카드 배경색과 동일하게 설정 */
    left: 50%; /* 푸터를 왼쪽으로 50% 이동 */
    transform: translateX(-50%); /* 푸터를 자신의 너비만큼 왼쪽으로 이동하여 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity_scroll {
    max-height: 500px;
}