.row .mt-6 .top .content{
    display: flex;
    grid-template-columns:1fr 1fr;
}
.col-md-10 {
    flex-grow: 1;
}


#paginationContainer {
    position: relative;
    bottom: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.member {
    overflow: hidden;
}

.card .projects{
    min-height: 470px;
    grid-template-rows: auto 1fr auto;
}
.card-footer {
    position:  absolute;
    bottom: 0;
    background-color: #fff; /* 카드 배경색과 동일하게 설정 */
    left: 50%; /* 푸터를 왼쪽으로 50% 이동 */
    transform: translateX(-50%); /* 푸터를 자신의 너비만큼 왼쪽으로 이동하여 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity_scroll {
    max-height: 500px;
}
.cocoBtn {
    display: inline-block;
    padding: 10px 20px;
    width: 200px; /* 버튼의 너비를 조정 */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-left: 40rem;
    background-color: #455560;
    color: #ffffff;

}
/* 버튼 기본 배경색과 텍스트 색상 */
.cocoBtn-default {
    background-color: #6b6b6b;
    color: #000000;
}

/* 버튼 호버 효과 */
.cocoBtn:hover {
    background-color: #d9d9d9;
    color: #737373;
}

/* 버튼 그림자 효과 */
.cocoBtn-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 버튼 커서 효과 */
.cocoBtn:hover {
    transform: translateY(-1px);
}

/* 버튼 활성 상태 스타일 */
.cocoBtn:active {
    transform: translateY(2px);
}