
.breadcrumb-path {

}

.calendar {
    border-collapse: collapse;
    width: 100%;
}
.calendar th,
.calendar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.calendar th {
    background-color: #f2f2f2;
}
.calendar td {
    cursor: pointer;
}
.calendar td:hover {
    background-color: #f0f0f0;
}
.today {
    background-color: #f0f0f0;
}

/* CSS */
.birthday {
    background-color: #ffcccc; /* 생일인 사람의 배경색을 지정합니다. */
    color: #000; /* 생일인 사람의 글자색을 지정합니다. */
    font-weight: bold; /* 생일인 사람의 글자를 두껍게 표시합니다. */
}





/* 이번달 주요일정 */
.breadcrumb-gray {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-around;
    padding:7px ;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(137, 137, 137, 0.25);
    background-color: #c0c0c0;
}

.table-responsive {

    margin-top: 3rem ;


}

.table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


/* 생일+주요일정 박스 */
.card-body-inner{
    border: 2px solid #F2EEEE;
    padding:30px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 1rem;

}

/* 공지사항 테이블*/
.gong {

    margin-top: 2rem;

}

.gong tbody tr:hover {
    background-color: #f2f2f2;
}

.gong td {
    padding: 12px; /* 기본 패딩 유지 */
    max-width: 150px; /* 원하는 최대 폭 설정 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 대해 생략 부호 (...) 표시 */
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

.gong td:first-child { /* 번호 열 */
    max-width: 20px; /* 원하는 최대 폭 설정 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 대해 생략 부호 (...) 표시 */
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}


.gong td:nth-child(3) { /* 세 번째 열(작성자) */
    max-width: 30px;


}

.gong td:last-child { /* 작성일 열 */
    max-width: 30px; /* 원하는 최대 폭 설정 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 대해 생략 부호 (...) 표시 */
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}




/* 공지사항 테이블 */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: auto;
}

th {
    background-color: #f2f2f2;
}


.calendar {
    width: 100%;
    max-width: 400px;
    margin-left: 12rem; /* 오른쪽으로 20px 이동 */
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;

}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.month-name {
    font-size: 1.5em;
}

.prev, .next {
    font-size: 1.5em;
    cursor: pointer;
}

.weekdays {
    display: flex;

    color: #1d2124;
}

.weekdays div {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 14.28%;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}

.day:hover {
    background-color: #f0f0f0;
}



/* 버튼 기본 스타일 */
.cocoBtn {
    display: inline-block;
    padding: 10px 20px;
    width: 300px; /* 버튼의 너비를 조정 */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-left: 15rem;
    background-color: #455560;
    color: #ffffff;

}

/* 버튼 기본 배경색과 텍스트 색상 */
.cocoBtn-default {
    background-color: #6b6b6b;
    color: #000000;
}

/* 버튼 호버 효과 */
.cocoBtn:hover {
    background-color: #d9d9d9;
    color: #737373;
}

/* 버튼 그림자 효과 */
.cocoBtn-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* 버튼 커서 효과 */
.cocoBtn:hover {
    transform: translateY(-1px);
}

/* 버튼 활성 상태 스타일 */
.cocoBtn:active {
    transform: translateY(2px);
}




