body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
}

.write_title {
    width: 50%;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.titleCen {
    text-align: center;
}

.header {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

input[type="text"], #editor {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"], a.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 10px; /* 버튼 간격 조정 */
}

input[type="submit"]:hover, a.button:hover {
    background-color: #45a049;
}