body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
}

.write_title {
    width: 50%;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.titleCen {
    text-align: center;
}

.header {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

input[type="text"], #editor {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"], a.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 10px; /* 버튼 간격 조정 */
}

input[type="submit"]:hover, a.button:hover {
    background-color: #45a049;
}

. .content {
    margin-top: 20px;
}
.titleCen {
    text-align: center;
}
#title-input {
    width: 118%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
#editor-container {
    margin-bottom: 15px;
}
.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; /* 텍스트 영역과 버튼 사이 간격 */
}
.button-group button,
.button-group a {
    padding: 10px 20px; /* 버튼 크기 조절 */
    margin-left: 15px; /* 버튼 사이 간격 */
}
.ms-4{
    background-color: #005dff;
}

.cke_contents {
    height: 500px !important; /* 높이 설정 */
    width: 550px !important; /* 높이 설정 */
}