.fc-col-header-cell-cushion {
    text-decoration: none;
    color: #000;
    cursor: default;
}

.fc-col-header-cell-cushion:hover {
    text-decoration: none;
    color: #000;
    cursor: default;
}

#submitEventBtn {
    width: 150px;
    height: 3rem;
    background-color: #455560;
    color: #fff;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    vertical-align: middle;
    transition: background-color 0.3s;
}

#deleteEventBtn {
    width: 150px;
    height: 3rem;
    background-color: #e32828;
    color: #fff;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    vertical-align: middle;
    transition: background-color 0.3s;
}


#submitEventBtn:hover {
    color: #000;
    border: 1px solid #455560;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

#deleteEventBtn:hover {
    color: #000;
    border: 1px solid #455560;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.btn-close {
    width: 3rem;
    height: 2rem;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.btn-close:hover {
    color: #000;
    background-color: transparent;
    border: none;
}

