<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    <link rel="stylesheet" href="/css/main-file.css">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>문서 보관함</h3>
            </div>

            <div class="file-search">
                <form class="d-flex" name="file-search" id="fileSearchList">
                    <input class="form-control me-2" id="file-search-form" type="search" placeholder="양식명을 입력하세요" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            <!-- 테이블 -->
            <div class="row">
                <div class="col-xl-10 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <table class="table table-hover">
                            <thead>
                            <tr class="doc-head">
                                <th scope="col"><input type="checkbox" id="file-select"></th>
                                <th scope="col">문서 번호</th>
                                <th scope="col">결재 양식명</th>
                                <th scope="col">결재 담당 부서</th>
                                <th scope="col">업로드 날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dto : ${fList}">
                                <td><input type="checkbox" th:value="${dto.fileCd}"></td>
                                <td th:text="${dto.fileCd}"></td>
                                <td th:text="${dto.title}"></td>
                                <td th:text="${dto.departmentName}"></td>
                                <td th:text="${dto.updatedAt.substring(0,10)}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 문서 등록, 삭제 버튼 -->
                <div class="file-btn" th:if="${user.departmentId == 3}">
                    <button type="button" class="btn btn-outline">문서 등록</button>
                    <button type="button" class="btn btn-danger">문서 삭제</button>
                </div>
            </div>




            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
</body>
</html>
