<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main-mypage.css">

</head>
  
<body>
  
<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>대시보드</h3>
            </div>

            <div class="row">
                <div class="col-xl-6 d-flex mobile-h">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">근태 기록</h5>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="p-container">
                                <div id="daily-progress-container" class="progressbar"></div>
                                <div id="weekly-progress-container" class="progressbar"></div>
                                
                                <form id="attendance-form" class="form-inline" action="/att/insert" method="POST">
                                    <input type="hidden" name="employee_code" th:value="${user != null} ? ${user.employeeCode} : ''">
                                    <input type="hidden" name="action" id="action">
                                    <input type="hidden" name="time" id="time">
                                    <button type="button" id="start-button">출근하기</button>
                                    <button type="button" id="end-button" disabled>퇴근하기</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">차트 2</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="sales_chart"></div>
                        </div>
                    </div>
                </div>
            
            </div>

            <div class="row">
                <div class="col-xl-6 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <div class="card-header ">
                            <h4 class="card-title">테이블 1</h4>
                        </div>
                        <div class="card-body">
                            <div class="team-list">
                                <div class="team-view">
                                    <div class="team-img">
                                        <img src="" alt="avatar" />
                                    </div>
                                    <div class="team-content">
                                        <label>이름</label>
                                        <span>부서</span>
                                    </div>
                                </div>
                                <div class="team-action">
                                    <ul>
                                        <li><a href="#"><i data-feather="trash-2"></i></a></li>
                                        <li><a href="#"><i data-feather="edit-2"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="team-list">
                                <div class="team-view">
                                    <div class="team-img">
                                        <img src="" alt="avatar" />
                                    </div>
                                    <div class="team-content">
                                        <label>이름</label>
                                        <span>부서</span>
                                    </div>
                                </div>
                                <div class="team-action">
                                    <ul>
                                        <li><a href="#"><i data-feather="trash-2"></i></a></li>
                                        <li><a href="#"><i data-feather="edit-2"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="team-list">
                                <div class="team-view">
                                    <div class="team-img">
                                        <img src="" alt="avatar" />
                                    </div>
                                    <div class="team-content">
                                        <label>이름</label>
                                        <span>부서</span>
                                    </div>
                                </div>
                                <div class="team-action">
                                    <ul>
                                        <li><a href="#"><i data-feather="trash-2"></i></a></li>
                                        <li><a href="#"><i data-feather="edit-2"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="team-list">
                                <div class="team-view">
                                    <div class="team-img">
                                        <img src="" alt="avatar" />
                                    </div>
                                    <div class="team-content">
                                        <label>이름</label>
                                        <span>부서</span>
                                    </div>
                                </div>
                                <div class="team-action">
                                    <ul>
                                        <li><a href="#"><i data-feather="trash-2"></i></a></li>
                                        <li><a href="#"><i data-feather="edit-2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  todo  -->
                <div class="col-xl-6 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <div class="card-header text-center">
                            <h4 class="card-title">ToDo List</h4>
                        </div>

                        <div class="card-body dash-activity">
                            <form id="todo-form" class="d-flex justify-content-center mb-3">
                                <input type="text" id="todo-input" placeholder="할 일 작성하기" class="form-control mr-2">
                                <button type="submit" class="btn btn-primary">Enter</button>
                            </form>

                            <ul id="todo-list" class="list-unstyled">
                                <!-- 여기에 ToDo 아이템이 동적으로 추가될 것입니다. -->
                            </ul>

                            <!-- 모두 보기를 위한 링크 -->
                            <div class="leave-viewall">
                                <a href="#">모두 보기 <img src="/img/r-arrow.png" class="ml-2" alt="arrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <div class="card-header">
                            <h4 class="card-title-dash">테이블 3</h4>
                            <div class="dropdown">
                                <button class="btn btn-action" type="button" id="roomsBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="roomsBtn">
                                    <a class="dropdown-item" href="#">Action</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="leave-set">
                                <span class="leave-inactive">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <label>Mon, 16 Dec 2021</label>
                            </div>
                            <div class="leave-set">
                                <span class="leave-active">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <label>Fri, 20 Dec 2021</label>
                            </div>
                            <div class="leave-set">
                                <span class="leave-active">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <label>Wed, 25 Dec 2021</label>
                            </div>
                            <div class="leave-set">
                                <span class="leave-active">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <label>Fri, 27 Dec 2021</label>
                            </div>
                            <div class="leave-set">
                                <span class="leave-active">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <label>Tue, 31 Dec 2021</label>
                            </div>
                            <div class="leave-viewall">
                                <a href="#">View all <img src="/img/r-arrow.png" class="ml-2" alt="arrow" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/ProgressBar.js"></script>
<script src="/js/attendance.js"></script>

</body>
</html>
