<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="employee-code" th:content="${employeeCode}">
    <title>그룹웨어</title>

</head>
<body>
<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    
    <link rel="stylesheet" href="/css/main-dev.css">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>개발 1팀</h3>
            </div>

            <div class="row">
                <div class="col-md-9 col-9">
                    <div class="card projects">
                        <div class="card-header bg-white py-4">
                            <h4 class="mb-0">진행중인 프로젝트</h4>
                        </div>
                        <div class="card-body projects">
                        <div class="table-responsive" id="projectTableContainer">
                            <table class="table text-nowrap mb-0">
                                <thead class="table-light">
                                <tr>
                                    <th>No.</th>
                                    <th>프로젝트명</th>
                                    <th>진행도</th>
                                </tr>
                                </thead>
                                <tbody id="projectTableBody">
                                </tbody>
                            </table>
                        </div><div class="card-footer d-flex justify-content-center">
                        <div id="paginationContainer"></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <div class="card-header">
                            <div class="">
                                <h4 class="card-title">피드</h4>
                            </div>
                        </div>
                        <div class="card-body dash-activity">

                            <div class="activity_scroll" id="projectFeedContainer"> </div>

                            </div>
                        <div id="feedPaginationContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="row">
                <div class="col-md-7 col-7">
                    
                    <div class="card">
                        <div class="card-header ">
                            <div class="d-flex justify-content-between align-items-center">
                                
                                <div>
                                    <h4 class="mb-0">프로젝트 정보</h4>
                                </div>
                            
                            </div>
                        </div>
                        <div class="card-body" id="projectInfoContainer">

                        </div>
                    </div>
                    
                    <!-- card -->
                    <div class="card">
                        <!-- card body -->
                        <div class="card-header">
                            <h4 class="mb-0">팀원</h4>
                        </div>
                        <!-- table -->
                        <div class="card-body">
                            <div class="table-responsive overflow-y-hidden table-card">
                                <table class="table mb-0 text-nowrap table-centered">
                                    <thead class="table-light">
                                    <tr>
                                        <th>
                                            목록
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                    <div id="projectMemberList"></div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-5 col-sm-12 col-12">
                    <!-- card  -->
                    <div class="card mb-5 bg-primary ">
                        <!-- card body  -->
                        <div class="card-body">
                            <h4 class="mb-0 text-white">진행시간</h4>

                            <div class="d-flex justify-content-between align-items-center mt-8">
                                <div id="projectProgressContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- card  -->
                    <div class="card mb-5">
                        <div class="card-header">
                            <h4 class=" mb-0 ">담당 작업 </h4>
                        </div>
                        <!-- card body  -->
                        <div class="card-body" id="projectTaskContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/js/main-dev.js"></script>
</body>
</html>
