<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="employee-code" th:content="${employeeCode}">
    <title>그룹웨어</title>

</head>
<body>
<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    
    <link rel="stylesheet" href="/css/main-dev.css">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4">
                <h3>개발 1팀</h3>
            </div>

            <div class="row">
                <div class="col-md-9 col-9">
                    <div class="card projects">
                        <div class="card-header bg-white py-4">
                            <h4 class="mb-0">진행중인 프로젝트</h4>
                        </div>
                        <div class="card-body projects">
                        <div class="table-responsive" id="projectTableContainer">
                            <table class="table text-nowrap mb-0">
                                <thead class="table-light">
                                <tr>
                                    <th>프로젝트명</th>
                                    <th>진행도</th>
                                </tr>
                                </thead>
                                <tbody id="projectTableBody">
                                </tbody>
                            </table>
                        </div><div class="card-footer d-flex justify-content-center">
                        <div id="paginationContainer"></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <div class="card-header">
                            <div class="">
                                <h4 class="card-title">피드</h4>
                            </div>
                        </div>
                        <div class="card-body dash-activity">

                            <div class="slimscroll activity_scroll" id="projectFeedContainer"> </div>

                            </div>
                            <div class="leave-viewall">
                                <a href="#">View all <img src="/img/r-arrow.png" class="ml-2" alt="arrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="row">
                <div class="col-md-7 col-7">
                    
                    <div class="card">
                        <div class="card-header ">
                            <div class="d-flex justify-content-between align-items-center">
                                
                                <div>
                                    <h4 class="mb-0">Summary</h4>
                                </div>
                            
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                설명
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h5 class="mb-0 ">시작일</h5>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <p class="text-dark mb-0 ">
                                                    3 Oct, 2023
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h5 class="mb-0 ">종료일</h5>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <p class="text-dark mb-0 ">
                                                    15 Jan, 2023
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h5 class="mb-0 ">Estimate Time</h5>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <p class="text-dark mb-0 ">
                                                    12
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- card -->
                    <div class="card">
                        <!-- card body -->
                        <div class="card-header">
                            <h4 class="mb-0">Upcoming Deadlines </h4>
                        </div>
                        <!-- table -->
                        <div class="card-body">
                            <div class="table-responsive overflow-y-hidden table-card">
                                <table class="table mb-0 text-nowrap table-centered">
                                    <thead class="table-light">
                                    <tr>
                                        <th>
                                            Member
                                        </th>
                                        <th>
                                            Task
                                        </th>
                                        <th>
                                            Deadline
                                        </th>
                                        <th>
                                            Workload
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-sm">
                                                    <a href="#!"><img src="../assets/images/avatar/avatar-2.jpg" alt="Image" class="rounded-circle"></a>
                                                </div>
                                                <div class="ms-2">
                                                    <h5 class="mb-0"><a href="#!" class="text-inherit">Eleanor Pena</a></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Design a Dash UI Figma
                                        </td>
                                        <td>
                                            30 Aug, 2023
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-success " role="progressbar" style="width: 62%;" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <div class="ms-2">
                                                    <span>62%</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-sm">
                                                    <a href="#!"><img src="../assets/images/avatar/avatar-3.jpg" alt="Image" class="rounded-circle"></a>
                                                </div>
                                                <div class="ms-2">
                                                    <h5 class="mb-0"><a href="#!" class="text-inherit">Marvin McKinney</a></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Dash UI Webpack Workflow
                                        </td>
                                        <td>
                                            24 Sept, 2023
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-success " role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <div class="ms-2">
                                                    <span>45%</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-sm">
                                                    <a href="#!"><img src="../assets/images/avatar/avatar-4.jpg" alt="Image" class="rounded-circle"></a>
                                                </div>
                                                <div class="ms-2">
                                                    <h5 class="mb-0"><a href="#!" class="text-inherit">Wade Warren</a></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Dash UI React version
                                        </td>
                                        <td>
                                            30 Sept, 2023
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-success " role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <div class="ms-2">
                                                    <span>80%</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-sm">
                                                    <a href="#!"><img src="../assets/images/avatar/avatar-5.jpg" alt="Image" class="rounded-circle"></a>
                                                </div>
                                                <div class="ms-2">
                                                    <h5 class="mb-0"><a href="#!" class="text-inherit"> Courtney Henry</a></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Dash UI Documents Improve
                                        </td>
                                        <td>
                                            20 Dec, 2023
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-success " role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <div class="ms-2">
                                                    <span>10%</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-sm">
                                                    <a href="#!"><img src="../assets/images/avatar/avatar-6.jpg" alt="Image" class="rounded-circle"></a>
                                                </div>
                                                <div class="ms-2">
                                                    <h5 class="mb-0"><a href="#!" class="text-inherit">Brooklyn Simmons</a></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Ecommerce Design Dash UI
                                        </td>
                                        <td>
                                            25 Jan, 2023
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-success " role="progressbar" style="width: 8%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <div class="ms-2">
                                                    <span>8%</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-5 col-sm-12 col-12">
                    <!-- card  -->
                    <div class="card mb-5 bg-primary ">
                        <!-- card body  -->
                        <div class="card-body">
                            <h4 class="mb-0 text-white">Launch Date </h4>
                            
                            <div class="d-flex justify-content-between align-items-center mt-8">
                                <div>
                                    <h3 class="display-5 fw-bold text-white mb-1">121 Days</h3>
                                    <p class="mb-0 text-white">
                                        15 December, Friday
                                    </p>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag text-white icon-lg"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- card  -->
                    <div class="card mb-5">
                        <div class="card-header">
                            <h4 class=" mb-0 ">Overall Progress </h4>
                        </div>
                        <!-- card body  -->
                        <div class="card-body">
                        
                        </div>
                    </div>
                    
                    <!-- card  -->
                    <div class="card mb-5">
                        <!-- card header  -->
                        <div class="card-header">
                            <h4 class="mb-0">Upcoming task by Assignee</h4>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive table-card">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/paginationjs@2.1.5/dist/pagination.min.js"></script>
<script src="/js/main-dev.js"></script>
</body>
</html>
