<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어 - 업무기안</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main-finance.css">
    <link rel="stylesheet" href="/css/file-eform.css">
    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
</head>
<body>
<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="form-title">업무기안</div>
            <form id="approvalForm">
                <div class="form-buttons mb-4">
                    <button type="button" class="btn btn-secondary" onclick="submitApproval()">결재요청</button>
                    <button type="button" class="btn btn-secondary" onclick="saveTemp()">임시저장</button>
                    <button type="button" class="btn btn-secondary">미리보기</button>
                    <button type="button" class="btn btn-secondary" onclick="cancelApproval()">취소</button>
                    <button type="button" class="btn btn-secondary">결재 정보</button>
                </div>
                <div class="form-section mb-4">
                    <table class="table table-bordered form-table form-table-header">
                        <tbody>
                        <tr>
                            <td colspan="2" class="form-title-cell">업 무 기 안</td>
                        </tr>
                        <tr>
                            <td class="label-cell">기안일</td>
                            <td th:if="${approval != null}" th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd')}">2020-11-15(일)</td>
                            <td th:if="${approval == null}">2020-11-15(일)</td>
                        </tr>
                        <tr>
                            <td class="label-cell">소속</td>
                            <td th:if="${employee != null}" th:text="${employee.departmentId}">재무</td>
                        </tr>
                        <tr>
                            <td class="label-cell">기안자</td>
                            <td  th:if="${employee != null}" th:text="${employee.name}">김상후</td>
                        </tr>
                        <tr>
                            <td class="label-cell">문서번호(문서명)</td>
                            <td  th:if="${approval != null}" th:text="${approval.approvalId}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-section mb-4">
                    <!-- th:if="${issueDate != null 이걸로 아래 밑줄 전부 동작 불가 대신 화면은 다시 정상  -->
                    <table class="table table-bordered form-table form-table-details" th:if="${issueDate != null}">
                        <tbody>
                        <tr>
                            <td class="label-cell">시행일자</td>
                            <td><input type="text" class="form-control" th:field="*{issueDate}"></td>
                            <!-- td class="label-cell">협조부서</td>
                            <td><input type="text" class="form-control" th:field="*{cooperationDepartment}"></td -->
                        </tr>
                        <!-- tr>
                            <td class="label-cell">합의</td>
                            <td colspan="3"><input type="text" class="form-control" th:field="*{consultation}"></td>
                        </tr -->
                        <tr>
                            <td class="label-cell">제목</td>
                            <td colspan="3"><input type="text" class="form-control" placeholder="필수 사항" th:field="*{title}"></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label for="editor1" class="form-label">내용</label>
                                <textarea class="form-control" id="editor1" rows="10" th:field="*{content}"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- div class="file-attachment mb-4">
                    <div>파일첨부</div>
                    <div class="file-upload">
                        <input type="file" id="fileUpload">
                        <label for="fileUpload">이곳에 파일을 드래그하세요. 또는 파일선택</label>
                    </div>
                </div>
                <div class="related-doc text-end">
                    <button type="button" class="btn btn-primary">문서 검색</button>
                </div -->
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/eform-finance.js"></script>
<script>
    CKEDITOR.replace('editor1');
</script>
<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
</body>
</html>
