<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>그룹웨어</title>
</head>
<body>
<script th:inline="javascript">
    const expensesListMap = /*[[${expensesListMap}]]*/ null;
</script>
<div class="main-wrapper">
    <div th:replace="~{include/header/main-header :: header}"></div>
    <div th:replace="~{include/side/main-side :: side}"></div>

    <link rel="stylesheet" href="/css/main-finance.css">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name mb-4 d-flex justify-content-between align-items-center">
                <div>
                    <h3 th:text="${user.departmentName}"></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-12 d-flex">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">결재 완료 목록</h5>
                            </div>
                            <div class="card-body">
                                <table class="fm-tbl">
                                    <thead>
                                    <tr>
                                        <th class="col-number">번호</th>
                                        <th class="col-title">제목</th>
                                        <th class="col-author">기안자</th>
                                        <th class="col-date">기안일</th>
                                    </tr>
                                    </thead>
                                    <tbody id="fm-tbl-approved-list">
                                    <!-- 완결 결재 목록 -->
                                    <tr th:each="approval, stat : ${approvedList}" class="fm-tbl-s" th:data-approval-id="${approval.approvalId}">
                                        <td th:text="${stat.index + 1}"></td>
                                        <td th:text="${approval.title}"></td>
                                        <td th:text="${approval.employeeName}"></td>
                                        <td th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd')}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="page">
                                    <!-- 페이지네이션 자리 -->

                                    <!-- 급여 현황 거랑 <nav> 태그 공유? 안 됨 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="card-title">급여 현황</h5>
                                <label for="salaryStatus"></label>
                                <select id="salaryStatus" class="form-control form-control-sm w-auto">
                                    <option value="">::: 선택 :::</option>
                                    <option value="2">기획실</option>
                                    <option value="3">경영지원실</option>
                                </select>
                            </div>

                            <div class="card-body">
                                <table id="salaryTable" class="s-tbl">
                                    <thead>
                                    <tr>
                                        <th scope="col">번호</th>
                                        <th scope="col">입사일</th>
                                        <th scope="col">부서</th>
                                        <th scope="col">직책</th>
                                        <th scope="col">사원번호</th>
                                        <th scope="col">연봉</th>
                                    </tr>
                                    </thead>
                                    <tbody id="salaryTableBody">
                                    <!-- 급여 현황 데이터가 여기에 들어감 -->
                                    </tbody>
                                </table>
                                <div class="page">
                                    <!-- 페이지네이션 자리 -->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" id="prevPage" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" id="nextPage" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 d-flex justify-content-center align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">지출 항목</h5>
                                <label for="expensesSelect"></label>
                                <select id="expensesSelect" class="form-control form-control-sm w-auto float-right">
                                    <option>Last Month</option>
                                    <option>Last 3 Months</option>
                                    <option>Last 6 Months</option>
                                    <option>Last 12 Months</option>
                                    <option>This Year</option>
                                </select>
                            </div>
                            <div class="card-body">
                                <canvas id="expensesChart"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">데이터 입력</h5>
                                <label for="accountSelect"></label>
                                <select id="accountSelect" class="form-control form-control-sm w-auto float-right">
                                    <option value="">- 선택 -</option>
                                    <option value="payment">지불 계정</option>
                                    <option value="receipt">수납 계정</option>
                                </select>
                            </div>
                            <div class="card-body" id="formContent">
                                <!-- 폼 컨텐츠가 여기에 동적으로 로드됨 -->
                            </div>
                                <input type="submit" id="submitBtn"></input>
                                <input type="reset" id="resetBtn"></input>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 d-flex justify-content-center align-items-center">
                    <!-- Profit and Loss Chart -->
                    <div class="col-xl-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">손익 현황</h5>
                                <label for="profitLossSelect"></label>
                                <select id="profitLossSelect" class="form-control form-control-sm w-auto float-right">
                                    <option>Last Month</option>
                                    <option>Last 3 Months</option>
                                    <option>Last 6 Months</option>
                                    <option>Last 12 Months</option>
                                    <option>This Year</option>
                                </select>
                            </div>
                            <div class="card-body">
                                <canvas id="profitLossChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">청구서 현황</h5>
                                <label for="invoicesSelect"></label>
                                <select id="invoicesSelect" class="form-control form-control-sm w-auto float-right">
                                    <option>Last Month</option>
                                    <option>Last 3 Months</option>
                                    <option>Last 6 Months</option>
                                    <option>Last 12 Months</option>
                                    <option>This Year</option>
                                </select>
                            </div>
                            <div class="card-body">
                                <canvas id="invoicesChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 d-flex justify-content-center align-items-center">
                    <!-- Sales Chart -->
                    <div class="col-xl-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">매출 현황</h5>
                                <label for="salesSelect"></label>
                                <select id="salesSelect" class="form-control form-control-sm w-auto float-right">
                                    <option>Last Month</option>
                                    <option>Last 3 Months</option>
                                    <option>Last 6 Months</option>
                                    <option>Last 12 Months</option>
                                    <option>This Year</option>
                                </select>
                            </div>
                            <div class="card-body">
                                <canvas id="salesChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer/scriptfooter :: footer}"></div>
<script src="/plugins/apexchart/apexcharts.min.js"></script>
<script src="/plugins/apexchart/chart-data.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="/js/script.js"></script>
<script src="/js/main-finance.js"></script>

</body>
</html>
